.contact {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  margin: auto; /* Centers horizontally */
  padding: 20px;
  width: 50%;
  box-shadow: 2px 2px 4px #667fff;
  border-radius: 2px;
  background-color: #f8f9fa;
}

/* Centering the form container */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full viewport height */
}
